/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

/* variables */
:root {
  --primary: #391400;
  --secondary: #EF6D58;
}



/* Base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  color: white;
}

body {
  background: #28293E;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



/* buttons */
button, .btn { 
  background: var(--secondary);
  color: #fff;
  border-radius: 6px;
  border: 0;
  padding: 8px 12px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}

button:hover, .btn:hover {
  background: white;
  color: var(--secondary);
}

button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

.secondary-dark {
  background: none;
  border: 2px solid rgba(255, 255, 255, .29);
  padding: 1rem 2rem;
}

.primary-btn {
  text-transform: uppercase;
  font-weight: 800;
  width: 9rem;
  padding: 1rem;
}